body {
	font-size: 15px;
	font-size: 1vw;
    margin: 0 auto;
    font-family: Arial;
	background-image: url("white-background.jpg");
}

nav {
	font-size: 2.0em;
}

.main-nav {

	border-right: 1px solid red;
	border-spacing: 2px;
    list-style: none;
    margin-top: 45vh;
	margin-right: 3%;
    font-size: 0.7em;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        font-size: 90%;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 0px;
}

a {
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyl {
		
	top:0;
	text-align: right;
	position: fixed;
	left: 0;
	height: 100%;
	width: 30%
}

.desc {
	font-size: 0.9em;
	margin-left : 44%;
	margin-right : 16%;
	margin-top: 40vh;
	text-align: center;
}

h1 {
	margin-left : 20%;
	font-size: 2em;
	
}

.white {
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
}
